<footer class="footer bg-dark py-3 mt-2 fixed-bottom " style="width: 100%; height: 40px;">
    <div class="container">
        <span class="text-muted">&copy; YelpCamp 2022</span>
    </div>
</footer>